@media (max-width:1199px)     {
			.container-body{
			width: 960px;
			margin: auto; 	
			}
			.made-easy .left{
			margin-left: -12vw;
			transform: scale(2.5) ;
			}
			.made-easy .right{
			margin-left:12vw;
			transform: scale(2.5);
			vertical-align: center
			}
			.flex-container{
			width: 95%;
			}
}
@media (max-width:991px)      {
			.container-body{
				width: 600px;
				margin: auto; 	
			}
			.bloc-div{
				width:500px;
			}
			.primary-text{
			font-size:80px;
		    }
		    .secondry-text{
			font-size:30px;
			}
			.flex-container{
			flex-direction: column;
			width: 95%;
			}
			.grid-container { 
			display: grid;
			grid-template-columns:auto auto ;
			} 
			.grid-container-contact{
			display: grid;
			grid-template-columns:auto auto;
			}
		   .flex-item-right, .flex-item-left {
			flex: 100%;
		    }
		    .flex{
		    	display: block; 	
		    }
		    .item{
		    	margin-top:20px;
		    }
			.section4{
			background-color: rgba(255,255,255,.9);
			}
			.background2{
		  	padding: 0px
		   	}
		   .backgroundmenu{
				background-image: url(../img/image-temp/2.png);
				background-size: cover;
				padding: 130px 0px;
			}
			.background3{
				background-image: url(../img/image-temp/3.png);
				background-size: cover;
				height:500px;
			}
			.made-easy .left{
			margin-left: -10vw;
			transform: scale(2) ;
			}
			.made-easy .right{
			margin-left:10vw;
			transform: scale(2);
			}
			 .socialmedia{
			 	padding:10px;
			}
			 .flex-footer { 
			   display: column;
			}
			  .flex-footer-column{
				width:100%;
			}


}
@media (max-width:767px)    {
	       .container-body{
				width:90%;
				margin:auto;	
			}
	   		.nav-links   {
	      	display: none;
	      	background-color: rgba(0,0,0,0.4);
	      	width: 300px;
	      	z-index:3;
	      	position: absolute;
	      	right: 5px;
	      	top:60px;
	      	}
	    	.nav-links a{
			display: block;
			padding: 12px;
			text-decoration: none;
	      	}
			.navicon .fa{
	        display: block;
	        z-index:4;
	      	}
	    	.bloc-div{
				max-width:90%;
			}
	    	.primary-text{
			font-size:60px;
		    }
		    .secondry-text{
			font-size:20px;
			}
	    	.btn-primary{
	      	width:250px;
	      	padding: 10px;
	      	font-size: 20px;
	      	}
			.navicon .fa {
		    flex-direction: column;
		  	}
		  	.section2{
		  	padding:20px 10px;
		  	}
		  	.flex-container{
			width: 95%;
		  	}
			.grid-container { 
		   display: column;
		  	}
			.grid-item{
			width:100%;
		  	}
		  	.flex{
		  	display: block
		  	}
		  	.item{
		    	margin-top:15px;
		    }
			.section4{
		  	margin:auto;
		  	line-height: 1.5em;
		  	background-color: rgba(255,255,255,.9);
		  	}
			.section4 .secondry-text{
		  	font-size: 34px;
		  	}
		  	.menu{
			    background-color: rgba(255,255,255,.8);
			    line-height: 1em;
			    padding: 10px 15px;
		  	}
		  .backgroundmenu{
				background-image: url(../img/image-temp/2.png);
				background-size: cover;
				padding: 70px 0px;
			}
			.background3{
				background-image: url(../img/image-temp/3.png);
				background-size: cover;
				height:300px;
			}
			.grid-container-menu{
		  	display: grid;
		  	grid-template-columns:20% auto ;
		  	padding:10px;
		  	}
  			.grid-container-contact{
			display: block;
			text-align: center;
	      	}
	       .socialmedia{
			 	padding: 20px 5px;
			}
	      .flex-footer { 
		   display: block;
		   text-align: center;
		  	}
		  
}

